*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-text{
    padding: 15px;
}
#nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#navbar{
    height: 90px;
    background-color: gray;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#nav-list{
    display: flex;
    gap: 30px;
}
#nav-list li{
    list-style: none;
}
#nav-list a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#banner{
    /* position: relative; */
    display: flex;
    padding: 40px 100px;
    align-items: center;
    gap: 150px;
}
#banner-img{
    width: 450px;
    height: 350px;
}
#banner-title{
    font-size: 40px;
}
#banner-description{
    margin-top: 10px;
    padding-bottom: 10px;
    width: 330px;
    color: gray;
}
#banner-btn{
    background: #458FF6;
    color: white;
    padding: 8px 18px;
    border-radius: 15px;
    border: none;
}
#dot{
    position: absolute;
    top: 120px;
    left: -25px;
    width: 70px;
    height: 80px;
}
#Services-section{
    height: 850px;
}
#Services-container{
    margin: 0 auto;
    text-align: center;
    width: 900px;
}
#title-border{
    margin: 0 auto;
    border-bottom: 3px solid black;
    margin-top: 25px;
    width: 40px;
}
#s-description{
    margin-top: 30px;
    color: gray;
}
.s-img{
    width: 40px;
    height: 40px;
}
.box-size{
    width: 250px;
    height: 255px;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 10px 40px 50px 0px rgba(229, 233, 246, 0.4);
    background: rgba(255, 255, 255, 1);
}
.box-size h3{
    padding: 8px 0px;
}
.box-size p{
    font-size: small;
    color: rgba(125, 121, 135, 1);
}
#s-cards{
    display: grid;
    padding-top: 80px;
    gap: 20px;
    width: 60%;
    margin: 0 auto;
    grid-template-columns: repeat(3,1fr);
}
#s-btn-container{
    margin-top: -110px;
    text-align: center;
}
.s-btn{
    padding: 8px 24px;
    color: rgba(69, 143, 246, 1);
    border-radius: 55px;
    border: 2px solid rgba(69, 143, 246, 1);
    background-color: white;
}
#card-bg-img{
    position: relative;
    top: -800px;
    left: -80px;
    z-index: -100;
}
#bg-img{
    width: 800px;
    height: 700px;
}
#services-dot{
    position: relative;
    top: -350px;
    left: 700px;
    z-index: -100;
}
#healthcare-provider-container{
    padding-top: 50px;
    display: flex;
    gap: 120px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
#healthcare-provider-img{
    width: 400px;
    height: 300px;
}
#healthcare-provider-right{

    width: 350px;
}
#healthcare-provider-right p{
    padding: 30px 0px 40px 0px;
    color: gray;
}
#healthcare-title-border{
    width: 80px;
    border: 2px solid black;
    margin-top: 15px;
}
#download-apps-container{
    padding-top: 100px; 
    display: flex;
    flex-direction: row-reverse;
    gap: 120px;
    width: 80%;
    margin: 0 auto;
    align-items: center;
}
#download-apps-img{
    width: 400px;
    height: 300px;
}
#download-apps-left{
    width: 850px;
}
#healthcare-title-border{
    width: 80px;
    border: 2px solid black;
    margin-top: 15px;
}
#download-apps-left p{
    color: gray;
    padding: 30px 0px 40px 0px;
}
#download-icon{
    width: 8px;
    height: 10px;
}
#download-dot{
    position: relative;
    top: -420px;
    left: 1190px;
    z-index: -100;
}
#dot-img{
    width: 80px;
    height: 80px;
}

#customer-img-div{
    /* width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 2px solid red; */
}
#customer-container{
    color: rgba(255, 255, 255, 1);
    width: 900px;
    border-radius: 12px;
    margin: 0 auto;
    padding: 0px 100px;
    background: linear-gradient(222.85deg, rgba(103, 195, 243, 1),rgba(90, 152, 242, 1) 100%);
}
#customer-title{
    padding-top: 30px;
    text-align: center;
}
#customer-title-border{
    width: 60px;
    border: 2px solid white;
     margin: 0 auto;
     margin-top: 10px;
}
#customer-img-container{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
#customer-name{
    color: rgba(255, 255, 255, 0.9);
}
#customer-img{
    object-fit: cover;
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
#customer-content{
    display: flex;
    align-items: center;
    padding: 30px 0px ;
    gap: 80px;

}
#customer-des{
    width: 350px;
    color: rgba(255, 255, 255, 0.9);
}
#customer-dot{
    position: relative;
    top: -320px;
    left: 1020px;
}
.customer-dot-img{
    width: 80px;
    height: 80px;
}
#customer-dot2{
    position: relative;
    top: -230px;
    left: 130px;
}
#slider{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
}