*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
@import url('https://fonts.googleapis.com/css2?family=Mulish:ital,wght@0,200..1000;1,200..1000&display=swap');
.mulish-font {
  font-family: "Mulish", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}
#logo{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: blue;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
#logo-text{
    padding: 15px;
}
#nav-left{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 8px;
}
#navbar{
    height: 90px;
    background-color: gray;
    padding: 0px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
}
#nav-list{
    display: flex;
    gap: 30px;
}
#nav-list li{
    list-style: none;
}
#nav-list a{
    text-decoration: none;
    font-size: 18px;
    color: white;
}

#banner{
    position: absolute;
    display: flex;
    padding: 40px 100px;
    align-items: center;
    gap: 150px;
}
#banner-img{
    width: 450px;
    height: 350px;
}
#banner-title{
    font-size: 40px;
}
#banner-description{
    margin-top: 10px;
    padding-bottom: 10px;
    width: 330px;
    color: gray;
}
#banner-btn{
    background: #458FF6;
    color: white;
    padding: 8px 18px;
    border-radius: 15px;
    border: none;
}
#dot{
    position: relative;
    top: 20px;
    left: -25px;
    width: 70px;
    height: 80px;
}